@font-face
{
    font-family : qst;
    src:url(Questrial-Regular.ttf);
}
*
{
    margin: 0;
}
body
{
    font-family: qst;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: scroll;
    flex-wrap: wrap;
    height: 100vh;
}
#menu
{

    
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#pz1
{
    z-index: -1;
    display: flex;
    justify-content: space-around;
    width: 45vh;
    height: 20vh;

}
#pz2
{

    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vh;
    height: 20vh;

}
.dropdown .content
{
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px #000000;
    display: none;
    position: absolute;
    max-height: 30vh;
    overflow-y: scroll;

}
.dropdown a
{
    font-size: 20px;
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px ;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.dropdown button 
{
    font-family: qst;
    font-size: 1.5em;
    color: #000000;
    text-transform: uppercase;
    padding: 6px 18px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    background: #ffffff;
    box-shadow: 2px 2px #000000;
    cursor: pointer;
}  
.dropdown button:active 
{
    box-shadow: none;
    transform: translate(3px, 3px)
}
.dropdown:hover .content
{
    display: block;
}
.dropdown a:hover
{
    background-color: rgba(220, 220, 220, 0.568);
}
button
{
    margin: 5px;
    font-family: qst;
    font-size: 1.5em;
    color: #000000;
    text-transform: uppercase;
    padding: 6px 18px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    background: #ffffff;
    box-shadow: 2px 2px #000000;
    cursor: pointer;
}