@font-face
{
    font-family : qst;
    src:url(Questrial-Regular.ttf);
}
*
{
    margin: 0;
}
body
{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
#men
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#cas
{

    opacity: 0.3;
    position: fixed;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 130px;
    transform: rotate(20deg);
}
#clic
{

    opacity: 0.5;
    position: fixed;
    top: 35%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 100px;
    transform: rotate(-10deg);
}
#dil
{
    opacity: 0.75;
    position: fixed;
    top: 65%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 100px;
    transform: rotate(15deg);
}


ul
{
    list-style-type: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}
#lista
{

    width: 280px;
    height: 250px;
    font-family: qst;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
#cal
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    width: 70%;
    height: 90%;
}
#h1
{
    margin: 1%;
    font-size: 20px;
    font-family: qst;
    text-align: center;
}
#h2
{
    margin: 2%;
    font-size: 20px;
    text-align: center;
    font-family: qst;

}

button 
{
    margin:5px;
    font-size: 1.5rem;
    color: #000000;
    text-transform: uppercase;
    padding: 6px 18px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    background: #ffffff;
    box-shadow: 3px 3px #000000;
    cursor: pointer;
}  
button:active 
{
    box-shadow: none;
    transform: translate(3px, 3px)
}
a 
{
    color: #18272F;
    text-decoration: none;
}
a:hover
{
    color: pink;
}
a:active
{
    color: palevioletred;
    font-size: 23px;
}
@media only screen and (max-width: 600px) 
{
    #h1
    {
        text-align: center;
    }
}